<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="chats">
        <ul id="chats"></ul>
        <form method="post" action="/createChat">
            <label>New chat name</label><br>
            <input type="text" name="name"  /><br><br>

            <button type="submit" name="submit">New chat</button>
        </form>
    </div>
    
    
    <ul id="messages" class="messages"></ul>

    <div class="message-input">
        <form action="">
            <input id="message-input" type="text" placeholder="Type your message here" autocomplete="off" width="100" size="200"/>
            <div id="current-chat">
                <div id=""></div>
            </div>
            <button id="send-message">Send</button>
        </form>
        <button id="add-user">Add user</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            var socket = io();
            $('.message-input').submit(function(){
                socket.emit('send message', $('#message-input').val(), $('#current-chat').children('div').attr('id'));
                $('#message-input').val('');
                return false;
            });
            socket.on('send message', (authorsName, msg, chatId) => {
                var dt = new Date();
                var time = dt.getHours() + ":" + dt.getMinutes() + ":" + dt.getSeconds();
                if (chatId == $('#current-chat').children('div').attr('id'))
                    $('#messages').append($('<p>').text(time + " " + authorsName + ": " +  msg));
                //Сюда можно добавить систему оповещения о новых сообщениях в других чатах
            });
        });
    </script>

    <script>
        $(function() {
            $( document ).ready(function() {
                $.ajax({
                    url: "/api/chats",
                    type: 'GET',
                    dataType: "json",
                    success: function(data){
                        var index;
                        for(i = 0; i < data.length; i++)
                        {
                            $(".chats").append("<ul>" + "<button onclick=\"getChatId(\'" + data[i]._id.trim() + "\')\" >"  + data[i].name + "</button>" +"</ul>");
                        }
                    }
                });
            });
        });
    </script>

    <script>
        function getChatId (chatId) {
            $("#current-chat").children('div').attr('id', chatId);
            $('#messages').empty();
            $.ajax({
                    url: "/api/getMessages",
                    type: 'GET',
                    data: {
                        chatId: chatId
                    },
                    success: function(data){
                        var index;
                        for(i = 0; i < data.length; i++)
                        {
                            $('#messages').append($('<p>').text(data[i].created + " " + data[i].authorsName + ": " + data[i].message));
                        }
                    }
            });
        }
    </script>
    
</body>

</html>