<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./css/styles.css" />
</head>

<body>
    <div class="chats">
        <ul id="chats"></ul>
        <button id="new-chat">New chat</button>
    </div>
    
    <ul id="messages" class="messages"></ul>

    <div class="message-input">
        <form action="">
            <input id="message-input" type="text" placeholder="Type your message here" autocomplete="off" width="100" size="200"/>
            <button id="send-message">Send</button>
        </form>
        <button id="add-user">Add user</button>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/libs/jquery-3.3.1.min.js"></script>
    <script>
        $(function () {
            var socket = io();
            $('form').submit(function(){
                socket.emit('send message', $('#message-input').val());
                $('#message-input').val('');
                return false;
            });
            socket.on('send message', (msg) => {
                $('#messages').append($('<p>').text(msg));
            });
        });
    </script>

    <script>
        $(function() {
            //$("#new-chat").click
            $( document ).ready(function() {
                $.ajax({
                    url: "/api/chats",
                    type: 'GET',
                    dataType: "json",
                    //data: {'name': "name"},
                    //data: JSON.stringify({name: "Dennis", address: {city: "Dub", country: "IE"}}),
                    success: function(data){
                        var index;
                        for(i = 0; i < data.length; i++)
                        {
                            $(".chats").append("<ul>" + data[i] + "</ul>");
                        }
                    }
                });
            });
        });
    </script>
    
    
</body>

</html>